### Named vectors

- R does not have a data structure completely equal to dictionaries in Python
- However, R provides the posibility to create __named vectors__
- __Named vectors__: Vectors whose elements are assigned names and can be retrieved using those names (similar to keys in dictionaries)

- __Creation__: c(var = value, ....)

In [1]:
named_vector = c(name = "John", surname = "Doe", address = "New Street")

In [10]:
print(named_vector)

        name      surname      address
      "John"        "Doe" "New Street"

- __Names__ as keys:

In [6]:
named_vector["name"]

  name
"John"

In [7]:
named_vector["address"]

     address
"New Street"

- __Iteration using indexes__:

In [8]:
named_vector[1]

  name
"John"

In [9]:
named_vector[3]

     address
"New Street"

- __str__: Structure of the object, how the object is stored

In [11]:
str(named_vector)

 Named chr [1:3] "John" "Doe" "New Street"
 - attr(*, "names")= chr [1:3] "name" "surname" "address"

- __Getting several elements__: We can also use this to alter the order in which the elements are returned

1. Based on _indexes_:

In [13]:
named_vector[c(1, 3)]

        name      address
      "John" "New Street"

In [16]:
named_vector[1:2]

   name surname
 "John"   "Doe"

2. Based on _names_:

In [17]:
named_vector[c("surname", "name")]

surname    name
  "Doe"  "John"

- Get __names__/_keys_: __names()__

In [18]:
names(named_vector)

[1] "name"    "surname" "address"

- Get __values__: __unname()__

In [20]:
unname(named_vector)

[1] "John"       "Doe"        "New Street"

- __Update__:

1. _Values_

In [21]:
named_vector[1] <- "James"

In [22]:
print(named_vector)

        name      surname      address
     "James"        "Doe" "New Street"

In [23]:
named_vector["surname"] <- "Ditto"

In [24]:
print(named_vector)

        name      surname      address
     "James"      "Ditto" "New Street"

In [25]:
named_vector[c("name", "surname")] <- c("Jim", "Dod")

In [26]:
print(named_vector)

        name      surname      address
       "Jim"        "Dod" "New Street"

2. _Names/Keys_:

In [28]:
names(named_vector)[1] <- "Fist Name"

In [29]:
print(named_vector)

   Fist Name      surname      address
       "Jim"        "Dod" "New Street"

In [31]:
names(named_vector)[2:3] <- c("Last Name", "Location")

In [32]:
print(named_vector)

   Fist Name    Last Name     Location
       "Jim"        "Dod" "New Street"

- __Sort__:

1. By _value_:

In [34]:
named_vector[order(named_vector)]

   Last Name    Fist Name     Location
       "Dod"        "Jim" "New Street"

2. By _names/keys_:

In [37]:
named_vector[sort(names(named_vector))]

   Fist Name    Last Name     Location
       "Jim"        "Dod" "New Street"

### Named lists

Similar to named vectors (but elements can have different types)

- __Creation__:

In [40]:
named_list <- list(name = "John", surname = "Doe", age = 34, location = c("New Street", "Old Town", "Caledonia"))

In [41]:
print(named_list)

$name
[1] "John"

$surname
[1] "Doe"

$age
[1] 34

$location
[1] "New Street" "Old Town"   "Caledonia"

- __Names__ as keys:

1. Using _$_

In [43]:
named_list$name

[1] "John"

2. var["name"]

In [44]:
named_list["surname"]

$surname
[1] "Doe"

In [47]:
named_list[c("surname", "location")]

$surname
[1] "Doe"

$location
[1] "New Street" "Old Town"   "Caledonia"

- __Indexes__:

In [46]:
named_list[1]

$name
[1] "John"

In [48]:
named_list[c(2,4)]

$surname
[1] "Doe"

$location
[1] "New Street" "Old Town"   "Caledonia"

In [49]:
named_list[2:3]

$surname
[1] "Doe"

$age
[1] 34

- Get __names/keys__:

In [50]:
names(named_list)

[1] "name"     "surname"  "age"      "location"

- Get __values__;

In [51]:
unname(named_list)

[[1]]
[1] "John"

[[2]]
[1] "Doe"

[[3]]
[1] 34

[[4]]
[1] "New Street" "Old Town"   "Caledonia"

- __Update__:

1. Values:

In [52]:
named_list[1] <- "James"

In [53]:
print(named_list)

$name
[1] "James"

$surname
[1] "Doe"

$age
[1] 34

$location
[1] "New Street" "Old Town"   "Caledonia"

In [55]:
named_list[2:3] <- list("Did", 32)

In [57]:
print(named_list)

$name
[1] "James"

$surname
[1] "Did"

$age
[1] 32

$location
[1] "New Street" "Old Town"   "Caledonia"

2. Keys: Notice type changes to str

In [61]:
names(named_list)[1] <- "First Name"

In [59]:
print(named_list)

$`First Name`
[1] "James"

$surname
[1] "Did"

$age
[1] 32

$location
[1] "New Street" "Old Town"   "Caledonia"

In [62]:
named_list$"First Name"

[1] "James"